/* Crafted with love by wolfcreative.ru :3 */
@font-face{font-family:'Gilroy Regular';src:url(../fonts/Gilroy-Regular.eot);src:url(../fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Regular.woff) format("woff"),url(../fonts/Gilroy-Regular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Light';src:url(../fonts/Gilroy-Light.eot);src:url(../fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Light.woff) format("woff"),url(../fonts/Gilroy-Light.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Bold';src:url(../fonts/Gilroy-Bold.eot);src:url(../fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Bold.woff) format("woff"),url(../fonts/Gilroy-Bold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Semibold';src:url(../fonts/Gilroy-SemiBold.eot);src:url(../fonts/Gilroy-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-SemiBold.woff) format("woff"),url(../fonts/Gilroy-SemiBold.ttf) format("truetype");font-weight:400;font-style:normal}

%container-padding{
    padding:60px 0 70px;
    @media(max-width:959px){padding:40px 0 50px}
}
body{
    margin:0 auto;font-family:'Gilroy Regular',sans-serif;font-size:22px;line-height:normal;color:#000;
    @media(max-width:959px){font-size:20px;line-height:26px}
    @media(max-width:639px){font-size:18px;line-height:24px}
    @media(max-width:439px){font-size:14px;line-height:22px}
}
.uk-container{max-width:1366px}
a{color:#000;transition:all.2s ease-in-out}
a:hover,a:focus{color:rgb(138, 138, 138);text-decoration:none;transition:.2s ease-in-out}
b,strong{font-weight:normal;font-family:'Gilroy Semibold',sans-serif}
sup{font-size:11px}

$color-orange:#f35d0d;

.header{
    background:url(../img/backgrounds/header.jpg) no-repeat top center / cover;padding:30px 0;

    header{
        .logo{
            @media(max-width:959px){max-width:250px}
            @media(max-width:639px){
                max-width:160px;
                img{padding-left:10px}
            }
            @media(max-width:390px){max-width:120px}
        }

        .text{font-size:20px}

        .uk-link-text{
            font-size:34px;
            @media(max-width:639px){font-size:26px}
            @media(max-width:390px){font-size:22px}
        }
        .uk-link-underline{
            @media(max-width:639px){font-size:18px}
            @media(max-width:390px){font-size:16px}
        }

        // Если липкое-меню активно
        &.uk-active{
            background:rgba(255,255,255,0.95);box-shadow:0 7px 10px -5px rgba(0,0,0,.1);padding:5px 0;
        }
    }

    .info{
        margin:120px auto 110px;color:#111;
        
        p{
            font-size:48px;text-transform:uppercase;
            @media(max-width:1279px){font-size:34px;line-height:normal}
            @media(max-width:959px){font-size:28px}
            @media(max-width:639px){font-size:24px}
            @media(max-width:390px){font-size:20px}
        }

        .uk-button{
            margin-top:50px;
            @media(max-width:959px){margin-top:25px}
            @media(max-width:639px){margin-top:15px}
        }
    }
}

.main{overflow:hidden}

.basicly{
    @extend %container-padding;
}

.double{
    .first,.second{
        padding:60px 55px;box-sizing:border-box;
        @media(max-width:1800px){padding:40px 35px}
        @media(max-width:959px){padding:30px 25px}

        h2{
            margin-bottom:50px;
            
            @media(max-width:1800px) and (min-width:960px){font-size:43px;line-height:normal}
            @media(max-width:1600px){
                marggin-bottom:30px;
                br{display:none}
            }
            @media(max-width:959px){margin-bottom:10px}
        }
    } 

    .first{
        background:#e4e4e4;

        @media(max-width:959px){
            img{max-width:80px}
        }

        span{
            font-size:22px;margin-top:10px;
            @media(max-width:639px){font-size:18px}
        }
    }
    .second{
        background:#707171;

        h2{color:#fff}
    }
}

.quality{
    @extend %container-padding;

    background:#fff url('../img/barinov.jpg') no-repeat left bottom;

    .info{
        margin:50px 100px 0 520px;line-height:28px;
        @media(min-width:1440px){
            >div{margin-left:30px;margin-right:30px}
        }
        @media(max-width:1439px){
            margin:45px 5px 0 450px;

            .uk-button{font-size:24px}
        }
        @media(max-width:1279px){
            .uk-button{font-size:20px}
        }
        @media(max-width:959px){
            margin:15px 0;background:rgba(255,255,255,.9);padding:20px 25px;
        }

        p{text-indent:25px}
    }
}

.projects{
    @extend %container-padding;

    background:url('../img/backgrounds/projects.png') no-repeat right bottom;

    .listing{
        width:370px;
        @media(max-width:1279px){width:320px}
        @media(max-width:959px){width:280px}
        @media(max-width:759px) and (min-width:640px){width:240px}
        @media(max-width:639px){width:100%}

        .uk-list{
            li{
                margin:0;
                a{
                    width:100%;display:block;background:#fffaf4;font-size:28px;padding:10px 25px;box-sizing:border-box;
                    @media(max-width:959px){font-size:24px;padding:10px 20px}
                    @media(max-width:759px) and (min-width:640px){font-size:22px;padding:10px 15px}

                    span{
                        display:block;font-size:21px;color:#403b35;
                        @media(max-width:959px){font-size:18px}
                        @media(max-width:759px) and (min-width:640px){font-size:16px}
                    }
                }
    
                &.uk-active a,a:hover{background:#ffebd3;color:#111}
            }
        }
    }

    .uk-slider{
        max-width:770px;

        .uk-slider-container{
            border:2px solid #ad8659;

            img{width:100%}
        }

        .uk-visible\@s{
            .uk-position-center-left{left:-30px}
            .uk-position-center-right{right:-30px}
        }

        .uk-dotnav > li{
            a{width:15px;height:15px;background:#dadada;border:none}

            &.uk-active > *,&:hover a{background:#d09c5f}
        }
    }
}

.compare{
    @extend %container-padding;

    background:#dedede;

    table{
        margin-top:34px;

        thead th,tbody td:first-child{
            background:#e5d3c5;color:#111;text-align:center;font-size:24px;text-transform:none;
            &:not(:first-child){border:1px solid #c5b3a6;border-top:none}
        }
        tbody td{
            background:#fff;border:1px solid #c5b3a6;padding:25px 30px;
            @media(max-width:959px){padding:15px 20px}

            &:first-child {
                max-width:50px;white-space:nowrap;vertical-align:middle;

                span{margin:0 -75px;display:inline-block;transform:rotate(-90deg)}
            }
        }
    }
}

.videoreview{
    @extend %container-padding;

    .click{cursor:pointer;display:block}
}

.slideset{
    @extend %container-padding;
    
    background:#ececec;

    .uk-visible\@s{
        .uk-position-center-left{left:-45px}
        .uk-position-center-right{right:-45px}
    }
}

.production{
    @extend %container-padding;

    h3{margin:-15px auto 10px}
    p{max-width:280px;margin:0 auto;font-size:20px}
}

.create{
    @extend %container-padding;

    background:#ebebeb url(../img/backgrounds/creature.png) no-repeat left bottom;
    @media(max-width:959px){background-image:none}

    .uk-grid{
        max-width:1280px;
        
        .number{
            min-width:70px;color:#e5c196;font:80px 'Gilroy Bold',sans-serif;
            @media(max-width:439px){
                min-width:56px;font-size:48px;
            }
        }

        h3{
            margin:0;font-size:30px;
            @media(max-width:959px){font-size:24px;margin-top:5px}
        }

        p{max-width:450px;font-size:18px;line-height:20px;margin:5px 0 0}
    }

    span.video{
        cursor:pointer;display:block;

        img{border-radius:8px}
    }
}

.knowledge{
    @extend %container-padding;

    .info{
        max-width:1140px;margin-top:55px;

        img{float:left;margin:-35px 35px 25px 0}

        h3{
            max-width:1140px;font-size:50px;margin:10px auto 30px;
            @media(max-width:1100px){
                font-size:43px;
                br{display:none}
            }
            @media(max-width:639px){font-size:34px}
            @media(max-width:439px){font-size:28px}

            .semibold{font-family:'Gilroy Semibold',sans-serif}
            .bold{font-family:'Gilroy Bold',sans-serif;color:#d93d0c}
        }

        ul li{
            @media(min-width:1280px){font-size:24px}
            
            &:after{display:none}
        }
    }

    @media(min-width:1280px){p{font-size:28px}}
}

.mapsblock{
    @extend %container-padding;
    
    background:#e5e5e5;

    .uk-box-shadow-large{margin:35px 0 25px;border-radius:8px;overflow:hidden}
}

.questions{
    @extend %container-padding;
    
    input{
        height: 58px;border-radius: 8px;padding-left: 20px;box-sizing: border-box;background: #ececec;
        &::placeholder{color:#333}
    }

    .uk-text-muted>a{color:#999}
}

footer{
    background:url(../img/backgrounds/footer.jpg) no-repeat center / cover;padding:40px 0 50px;

    img{max-width:230px}

    a,.uk-link-text{color:#fff}

    .uk-link-text{
        font-size:38px;
        @media(max-width:639px){font-size:34px}
        @media(max-width:439px){font-size:28px}
    }
}

// Headers
h1,.uk-h1{
    font:120px/1.2 'Gilroy Bold',sans-serif;text-transform:uppercase;color:#111;
    @media(max-width:1279px){font-size:90px}
    @media(max-width:959px){font-size:61px}
    @media(max-width:639px){font-size:52px;line-height:normal}
    @media(max-width:439px){font-size:34px}
    @media(max-width:390px){font-size:30px}
}
h2,h3,h4{font-family:'Gilroy Light',sans-serif;line-height:normal;color:#111}
h2{
    font-size:61px;line-height:61px;color:#de8e2f;
    @media(max-width:959px){font-size:43px;line-height:normal}
    @media(max-width:639px){font-size:34px}
    @media(max-width:439px){font-size:28px}
    +.subtitle{
        font-size:30px;margin-top:-5px;
        @media(max-width:959px){font-size:22px;line-height:normal}
        @media(max-width:639px){font-size:18px}
    }
}
h3,h4{
    font-size:34px;
    @media(max-width:959px){font-size:26px;line-height:normal}
    @media(max-width:639px){font-size:24px}
    @media(max-width:439px){font-size:20px}
}

// Buttons
.uk-button{
    border-radius:10px;

    &.uk-button-orange{
        background:linear-gradient(to bottom, #fc8e24 0%,$color-orange 100%);border-bottom:4px solid #cf520e;color:#fff;font-family:'Gilroy Bold',sans-serif;
        box-shadow:0px 4px 0px 0px rgba(122, 134, 47, 0.004),0px 11px 46px 0px rgba(161, 107, 71, 0.39),inset 0px 12px 21px 0px rgba(208, 155, 119, 0.4);
        &:hover,&:focus{background:linear-gradient(to bottom, $color-orange 0%,#fc8e24 100%);color:#fff}
    }

    &.uk-button-medium{
        font-size:20px;line-height:54px;padding:0 64px;
        @media(max-width:1279px){padding:0 40px}
        @media(max-width:959px){font-size:18px;line-height:48px}
        @media(max-width:439px){padding:0 20px}
   }
    &.uk-button-large{
        font:32px/70px 'Gilroy Bold',sans-serif;
        @media(max-width:959px){font-size:18px;line-height:48px}
        @media(max-width:439px){padding:0 20px}
   }
}

// Links
.uk-link{
    &.uk-link-underline{
        font-size:22px;color:#000;text-decoration:underline;
        @media(max-width:639px){font-size:18px}
        @media(max-width:439px){font-size:16px}

        &:hover,&:focus{color:#000;text-decoration:none}
    }
}

// UiKit Replace
.uk-lightbox{background:rgba(0, 0, 0, 0.9)}